.summary {
    --corners: 3px;
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.range-option {
  color: var(--black);
  text-decoration: none;
  margin-right: 1rem;
}

.date-heading-area {
  display:grid;
  grid-template-columns:auto 1fr auto;
  align-items: center;
}

.date-heading {
  text-align:center;
  font-family: var(--firstFont);
  font-size: 1.1rem;
}

.active {
  color: var(--blue);
  text-decoration: none;
}

.active::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--blue);
}

.date-back-forward {
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  outline-color: var(--blue);
}