.settings {
  --corners: 3px;
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.moodoptiongrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  
}

.optioncard {
  width: 100%;
  margin: 0 auto 1.5rem auto;
  padding: 1rem;
  border: solid 1px var(--whitegrey);
  border-radius: 3px;
  background-color: white;
}

h2 {
  color: var(--blue);
}

.option__text {
  padding: 1rem;
  border: solid 1px var(--whitegrey);
  border-radius: 3px;
  background-color: white;
  display: block;
  width: 100%;
}